#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: #f8f9fa
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

label{
  font-size: 1.25rem;
  font-weight: 700;
}

input[type="text"] {
  width: 300px;
  height: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px;
  
  box-shadow: 3px 3px 8px #ccc;
  border-radius: 4px;
  
}

select {
  width: 300px;
  height: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px;
  color: #333;
  box-shadow: 3px 3px 8px #ccc;
  border-radius: 4px;
}
option {
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

/* Styles for screens with a width of 600px or more */
@media screen and (min-width: 600px) {
  input[type="text"] {
    width: 500px;
  }
  
  select {
    width: 500px;
  }
}

/* Styles for screens with a width of 800px or more */
@media screen and (min-width: 800px) {
  input[type="text"] {
    width: 700px;
  }
  
  select {
    width: 700px;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
